name: Trivy Test
on:
  pull_request:
    branches:
      - master
  push:
    branches:
      - master

jobs:
  trivy-scan:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      security-events: write
    steps:
      - name: Checkout code
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 #v6.0.1

      - name: 'Run trivy scan'
        uses: 'aquasecurity/trivy-action@b6643a29fecd7f34b3597bc6acb0a98b03d33ff8' #v0.33.1
        with:
          scan-type: 'config'
          hide-progress: true
          exit-code: 0
          format: sarif
          output: 'trivy-results.sarif'
          severity: 'UNKNOWN,LOW,MEDIUM,HIGH,CRITICAL'

      - name: Upload Trivy scan results to GitHub Security tab
        if: always()
        uses: github/codeql-action/upload-sarif@c43362b91a940600cde2ebae39ec7a35ad66bdc0 #v2.23.8
        with:
          sarif_file: 'trivy-results.sarif'
